In [1]:
#Dependencies
from citipy import citipy
import openweathermapy as OMW
import pandas as pd
import numpy as np
from random import uniform

In [30]:
#Generate a random list of Cities

#intialize empty lists: cities, cities_final
cities = []
countries = []


#Loop for a certain amount of times
for x in range (10):
    #set random coordinate values (latitude and longitude)
    lat = np.random.uniform(-90.000, 90.000)
    lon = np.random.uniform(-180.000,180.000)
    #Find city closest to the coordinate values: Use Citipy library
    city_obj = citipy.nearest_city(lat,lon)
    #Set variables city_name, country_code; to the name of the city and the country code for that city
    city_name = city_obj.city_name
    country_code = city_obj.country_code
    #Add the city_name to the cities list only if it's not already in the list
    if city_name not in cities:
        cities.append(city_name)
        countries.append(country_code)
    #print(city_name, country_code)
    
#Test print of lists
#print(cities)
#print(countries)

#Create dictionary from lists: combined_dict
combined_dict = {"City": cities,
                 "Country": countries
                }
combined_dict

#Create DataFrame from combined_dict: city_data_df
city_data_df = pd.DataFrame(combined_dict)

#Capitalize the first letter of cities in city and all letters of the country
city_data_df["City"] = city_data_df["City"].str.capitalize()
city_data_df["Country"] = city_data_df["Country"].str.upper()

city_data_df

         City Country
0  Butaritari      KI
1      Nabire      ID
2      Lompoc      US
3      Laguna      BR
4   Coihaique      CL
5     Ushuaia      AR
6       Bluff      NZ
7        Nehe      CN
8  Georgetown      SH
9      Albany      AU

In [3]:
#Create variables for query url, query url, city_url

In [4]:
#For loop to iteratively call API: make sure to use time out (1second)